.randomizationControlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.randomizationControlsHeader {
  font-size: 1.4rem;
  font-weight: bold;
}

.randomizationControlsInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.randomizationControlsInput {
  display: flex;
  font-size: 1.1rem;
  padding: 6px;
  text-align: center;

  width: 100%;
  max-width: 160px;

  color: var(--text-color);

  border-radius: 10px;
  border: none;
  background-color: var(--background-lightest);
}

/* .runRandomizationButton {
  border-radius: 10px;
  border: none;

  color: var(--text-color);
  color: white;
  font-size: 1.1rem;
  padding: 16px;
  background-color: var(--accent-purple);
  cursor: pointer;
} */

.runRandomizationButton {
  border-radius: 10px;
  border: none;

  color: var(--text-color);
  font-size: 1.1rem;
  padding: 16px;
  background-color: var(--background-lighter);
  cursor: pointer;

  transition: background-color 0.1s ease-out;
}
.runRandomizationButton:hover {
  background-color: var(--background-lightest);
  transition: background-color 0.1s ease-out;
}
