/* Google Fonts Imports */
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --background: #96efff;
  --background-lighter: #c5fff8;
  --accent-blue: #5fbdff;
  --accent-purple: #7b66ff;

  --text-color: #303030;
}

html,
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */

  justify-content: space-between;

  max-width: 100vw;
  min-height: 100vh;
  /* max-height: 100vh; */
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
