/* Playback control buttons container */
.playbackControlButtonsContainer {
  /* margin-top: 24px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

/* Playback control buttons */
.playbackControlButton {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: var(--accent-purple); */
  background-color: var(--background-lighter);
  border: none;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  transition: background-color 0.1s ease-out;
  cursor: pointer;
}
.playbackControlButton:hover {
  background-color: var(--background-lightest);
  transition: background-color 0.1s ease-out;
}
/* .playbackControlButton:active {
  background-color: #e0e0e0;
} */
.playbackControlButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Playback control button icon */
.playbackControlButtonIcon {
  /* color: white; */
  color: var(--text-color);
}

/* Volume control container */
.volumeControlContainer {
  display: flex;
  margin-top: 14px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

/* Volume control label */
.volumeControlLabel {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Volume control button icon */
.volumeControlContainer {
  color: red;
}

/* Custom slider */
.customSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 160px; /* Adjust as needed */
  height: 6px;
  /* background: linear-gradient(to right, #ff7e5f, #feb47b); */
  background-color: var(--accent-purple);
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
  cursor: pointer;
}

.customSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--background);
  border: 2px solid var(--accent-purple);
  cursor: pointer;
  transition: transform 0.2s;
}

.customSlider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.customSlider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--background);
  border: 2px solid var(--accent-purple);
  cursor: pointer;
  transition: transform 0.2s;
}

.customSlider::-moz-range-thumb:hover {
  transform: scale(1.2);
}
