.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  padding-top: 6rem;
  padding-bottom: 6rem;
}

.h1 {
  font-size: 4rem;
  font-weight: 500;
}
.h3 {
  font-size: 1.25rem;
  font-weight: 300;
}
