.container {
  border: 2px dashed var(--accent-purple);
  padding: 50px;
  text-align: center;
  cursor: pointer;
}
.containerUploaded {
  border: 1px solid var(--accent-blue);
  padding: 50px;
  text-align: center;
  cursor: pointer;
}
